wikipedia==1.4.0
langchain-core==0.3.69
langgraph==0.5.3
langchain-openai==0.3.28
langchain-experimental==0.3.4
langgraph-supervisor==0.0.27

pandas>=2.0.0
matplotlib>=3.7.0
numpy>=1.24.0


python-dotenv>=1.0.0 